<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/custom.css' | url }}" />
</head>
<body>
  <header>
   <nav class="site-nav">
    <a href="{{ '/' | url }}">Home</a>|
    <a href="{{ '/posts/' | url }}">Posts</a>
  <h1 class="site-title">The Infinite Blog</h1> 
  </nav>
</header>
  <main>
  <div class="article">
    {{ content | safe }}
  </div>
</main>

  <footer>
  </footer>
</body>
</html>
