---
title: Posts
layout: layout.njk
pagination:
  data: collections.post
  size: 100
---

<h1 class="site-title">{{ title }}</h1>

<div class="post-preview-list">
  {% for post in pagination.items %}
    <a class="post-preview" href="{{ post.url | url }}">
      <h2 class="article-title">{{ post.data.previewTitle or post.data.title }}</h2>
      <p>
        {{ post.data.description or post.templateContent | striptags | truncate(1000, true, '...') | safe }}
      </p>
    </a>
  {% endfor %}
</div>


