---
title: Posts
layout: layout.njk
pagination:
  data: collections.post
  size: 100
permalink: /posts/index.html
---


<h1 class="site-title">{{ title }}</h1>

{% for post in pagination.items %}
  <article class="post-preview">
    <h2 class="article-title">
      <a href="{{ post.url | url }}">{{ post.data.previewTitle or post.data.title }}</a>
    </h2>
     <p>
      {{ post.data.description or post.templateContent | striptags | truncate(650, true, '...') | safe }}
     </p>
  </article>
{% endfor %}

